

<h1>Najnowsze komunikaty</h1>
<% Post.all.each_slice(3) do |slice|%>
	<div class="row">
		<% slice.each do |post| %>
			<div class="col-md-11">
				<div class="thumbnail">
					<%= link_to posts_path do %>
						<%= image_tag Faker::Placeholdit.image('640x480', 'jpg', 'cccccc') %>
					<% end %> 
					<div class="caption">
						<h3><%=  link_to post.title, post_path(post) %></h3>
						<p><%= simple_format(truncate(post.description, length: 90)) %></p>
						<p>
						</p>
					</div>
				</div>
			</div>
		<% end %>
	</div>
<% end %>